<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
    Manifest declarations follow developer portal page:
    https://developer.dbp.thalescloud.io/docs/tsh-hce-android/c7a77ac96dd5d-configuring-the-application-manifest-file#example-of-androidmanifestxml
    -->
    <!-- internet is needed for TSHPaySDK to perform wallet and card enrolment and keys replenishemnt -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- To allow the application observing device connectivity state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- For TSHPaySDK to be able to use NFC -->
    <uses-permission android:name="android.permission.NFC" />
    <!-- In  case the Appliaction uses the biometric as CDCVM -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <!--Even if deprecated from Android 10, this is needed for Android 9 and below -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- For Payment Service -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.nfc.hce"
        android:required="true" />

    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name=".PaySampleApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TSHPaySample.NEW">

        <!-- Application UI entry point. -->
        <activity
            android:name=".ui.CardListActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TSHPaySample.NEW">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.PaymentActivity"
            android:configChanges="keyboardHidden|screenSize|orientation|screenLayout"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"
            android:theme="@style/Theme.TSHPaySample.NEW"
            android:windowSoftInputMode="adjustPan|stateHidden" />


        <!-- FCM - Push notification service -->
        <service
            android:name="com.thalesgroup.tshpaysample.sdk.push.FcmService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- HMS - Push notification service -->
        <service
            android:name="com.thalesgroup.tshpaysample.sdk.push.HmsService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- CPS Communication service -->
        <service
            android:name="com.gemalto.mfs.mwsdk.provisioning.push.CPSCommService"
            android:enabled="true"
            android:exported="false" />

        <!-- HCE Payment service -->
        <service
            android:name="com.thalesgroup.tshpaysample.sdk.payment.TshPaymentHceService"
            android:exported="true"
            android:description="@string/hce_service_description"
            android:label="@string/hce_service_label"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apduservice" />
        </service>


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/secure_logger_provider"/>
        </provider>

    </application>

</manifest>
